:root {
    --warning-color: #ff9966;
    --border-color: #cdcdcd;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 0 10px;
    overflow: hidden;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    header, footer {
        padding-inline: 50px;
    }
}

header .hero {
    display: flex;
    align-items: center;
}

header img {
    height: 37px;
    margin-inline: 10px;
}

header .header-title {
    text-decoration: underline;
}

header .manifesto {
    display: flex;
    justify-content: flex-end;
    margin-block-end: 20px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-block-start: 20px;
    padding-block-end: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media (min-width: 776px) {
    .content {
        flex-direction: row;
        max-width: 1220px;
    }
}

@media (min-width: 776px) {
    aside {
        width: 100%;
        padding-inline-end: 20px;
        border-inline-end-width: 1px;
        border-inline-end-style: solid;
        border-inline-end-color: var(--border-color);
    }
}

aside h4 {
    margin-block: 10px;
}

aside ul {
    padding-inline-start: 15px;
}

aside li {
    list-style-type: none;
    margin-block-end: 10px;
}

.sections {
    margin-block-end: 100px;
}
@media (min-width: 776px) {
    .sections {
        padding: 0 20px;
    }
}

section {
    width: 100%;
    margin-block-end: 80px;
}

section h4 {
    margin-block-end: 10px;
}

section p {
    margin-block-start: 0;
}

.warning {
    color: var(--warning-color);
}

.top-nav {
    margin-block-start: 25px;
}

article {
    margin-block-end: 80px;
}

article::before {
    display: block;
    content: "";
    margin-block-start: -40px;
    block-size: 40px;
    visibility: hidden;
    pointer-events: none;
}

article h3 {
    border-block-end-style: solid;
    border-block-end-color: var(--border-color);
    border-block-end-width: 1px;
}
