/* CSS Variables */
:root {
    /* Colors */
    --color-black: #010414;
    --color-blue: #53b3f8;
    --color-dark-blue: #20455f;
    --color-cyan: #4adfdf;
    --color-green: #53f8a6;
    --color-purple: #644384;
    --color-magenta: #ff57ff;
    --color-red: #e35050;
    --color-yellow: #a85700;

    /* Type */
    --heading-type: 'Franklin Gothic Medium', 'Geneva', monospace;
    --body-type: 'American Typewriter', monospace;
    --hero-type: 'Franklin Gothic Medium', 'Geneva', sans-serif;
    /* Size */
    --body-size: 16px;
    --heading-size: 36px;
    --hero-size: 42px;
    --compact-heading-size: 36px;
    --small-heading-size: 20px;
    --button-font-size: 16px;
    --card-title-size: 28px;
    --modal-title-size: 24px;
    --small-size: 12px;
    /* Spacing */
    --hero-block-padding: 48px;
    /* Shadows */
    --primary-box-shadow: 5px 5px var(--color-dark-blue);
    --secondary-box-shadow: 6px 6px var(--color-magenta);
    --title-shadow: rgba(255, 255, 255, 0.5) 3px 5px 1px;
    /* Borders */
    --border-width: 1px;
    --border-style: solid;
    --border-color: var(--color-blue);
    --border-radius: 3px;
}

@media (min-width: 1024px) {
    :root {
        --body-size: 20px;
        --heading-size: 42px;
        --hero-size: 140px;
        --small-heading-size: 28px;
        --button-font-size: 24px;
        --card-title-size: 32px;
        --modal-title-size: 48px;
        --small-size: 16px;
        --hero-block-padding: 100px;
    }
}


/* Base Elements */

* {
    box-sizing: border-box;
    z-index: 1;
}

body {
    margin: 0;
    background-color: var(--color-black);
}

h1, h2, h3{
    font-family: var(--heading-type);
    font-weight: 700;
    color: var(--color-cyan);
}

p {
    font-family: var(--body-type);
    font-size: var(--body-size);
    color: var(--color-blue);
}

small {
    font-family: var(--body-type);
    color: var(--color-blue);
}

a {
    font-family: var(--body-type);
    font-size: var(--body-size);
    color: var(--color-green);
}

a:visited {
    color: var(--color-purple);
}

a.button {
    text-align: center;
    text-decoration: none;
    color: var(--color-cyan);
    border-radius: var(--border-radius);
    border-style: var(--border-style);
    border-width: var(--border-width);
    box-shadow: var(--primary-box-shadow);
    text-transform: uppercase;
}

a.button:visited {
    color: var(--color-cyan);
}

a.button:hover {
    box-shadow: var(--secondary-box-shadow);
    transition: all ease 100ms;
}

a.button:active {
    box-shadow: none;
}

section {
    padding-block: 50px;
    padding-inline: 5vw;
    border-block-end-color: var(--border-color);
    border-block-end-style: var(--border-style);
    border-block-end-width: var(--border-width);
}

section h2.container-title {
    position: relative;
    margin-block-end: 40px;
    font-size: var(--heading-size);
}

section > article {
    max-inline-size: 800px;
    margin: 0 auto;
}

footer {
    margin-block-start: 40px;
}

footer > a {
    font-family: var(--body-type);
    font-size: var(--body-size);
}

pre {
    overflow-x: scroll;
    padding-inline: 10px;
    color: var(--color-cyan); 
    font-family: var(--body-type);
    font-size: calc(var(--body-size) - 2px);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    border-style: var(--border-style);
    border-width: var(--border-width);
    box-shadow: var(--primary-box-shadow);
}

pre span.code-comment {
    color: var(--color-purple);
}

@media (min-width: 1024px) {
    pre {
        margin-inline: 20px;
    }
}

figure {
    margin-block: 50px;
    margin-inline: 0;
}

figure img {
    inline-size: 100%;
}

figure figcaption {
    font-family: var(--heading-type);
    font-size: calc(var(--body-size) - 5px);
    color: var(--color-purple);
    text-align: center;
}


/* Section-Specific */

#hero {
    padding-block-start: var(--hero-bock-padding);
    padding-inline: auto;
    overflow: hidden;
}

#hero > h1 {
    margin-block-start: 60px;
    margin-block-end: 0;
    text-align: center;
    font-family: var(--hero-type);
    font-size: var(--hero-size);
    color: var(--color-green);
    white-space: nowrap;
}

#hero > p {
    text-align: center;
}

#hero > nav {
    max-inline-size: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 80px;
    margin-inline: auto;
}

#hero > nav > a.button {
    inline-size: 100px;
    margin-inline: 10px;
    padding-block: 10px;
    font-family: var(--heading-type);
    font-size: var(--button-font-size);
}

@media (min-width: 1024px) {
    #hero > nav > a.button {
        inline-size: 200px;
    }
}

#projects > nav {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 1rem;
    margin: 100px auto;
}

#projects article.card {
    block-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-block: 30px;
    padding-inline: 30px;
    background-color: var(--color-black);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    border-style: var(--border-style);
    border-width: var(--border-width);
    box-shadow: var(--primary-box-shadow);
}

#projects article.card h3 {
    margin-block-end: 40px;
    font-size: var(--card-title-size);
    text-align: center;
    color: var(--color-blue);
}

#projects article.card p {
    color: var(--color-blue);
    text-align: center;
}

#projects article.card > footer {
    display: flex;
    justify-content: center;
    margin-block-start: auto;
    padding-block: 10px;
}

#projects a.card-button {
    inline-size: 60%;
    padding-block: 10px;
    border-radius: var(--border-radius);
    color: var(--color-cyan);
    font-family: var(--heading-type);
    font-size: var(--body-size);
}

#bio {
    color: var(--color-black);
}

#bio h2.container-title {
    font-size: var(--heading-size);
}

#manifesto {
    background-color: var(--color-black);
    border-block-end: none;
}

#manifesto p {
    text-align: center;
    font-size: var(--small-size);
}

#manifesto a {
    color: var(--color-green);
    font-size: var(--small-size);
}


/* Project Writeups */
section.writeup {
    max-inline-size: 1000px;
    margin: auto;
    background-color: var(--color-black);
    border: none;
}

section.writeup > h1 {
    position: relative;
    font-size: var(--compact-heading-size);
    color: var(--color-blue);
    border-block-end-style: var(--border-style);
    border-block-end-width: var(--border-width);
}

@media (min-width: 1024px) {
    section.writeup > h1 {
        font-size: calc(var(--heading-size) + 20px);
    }

    section.writeup > h1::after {
        inset-inline-start: -3px;
        inset-block-start: 30px;
        inline-size: 615px;
        block-size: 45px;
    }
}

section.writeup > h2.heading {
    margin-block-start: 40px;
    color: var(--color-cyan);
    font-size: var(--small-heading-size);
    text-transform: capitalize;
}

section.writeup > nav.top-nav {
    display: flex;
    justify-content: flex-end;
}

section.writeup > nav.bottom-nav {
    display: flex;
    justify-content: center;
}

section.writeup > nav a.button {
    padding-block: 5px;
    padding-inline: 10px;
    font-family: var(--heading-type);
    text-transform: uppercase;
}

section.writeup > ul > li {
    font-family: var(--body-type);
    font-size: var(--body-size);
}

section.writeup > ul.links {
    padding-inline-start: 0;
    list-style: none;
}

section.writeup > ul > li > strong {
    color: var(--color-magenta);
}


/* Error Page */
.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-container h1 {
    color: var(--color-magenta);
}

.error-container p {
    color: var(--color-magenta);
}

.error-container a.button {
    padding-block: 10px;
    padding-inline: 10px;
    font-family: var(--heading-type);
    font-size: var(--button-font-size);
    text-transform: uppercase;
}
